<div>
  <h2><%= celebrity.name%></h2>
  <p><%= celebrity.ocupation%></p>
  <p><%= celebrity.catchPhrase%></p>
  <a href="/celebrities/<%= celebrity._id%>/edit">
    <button>Edit</button>
  </a>
</div>
