<div class='details'>
  <h2><%= movie.title%></h2>
  <p><span class='bold'>Genre:</span> <%= movie.genre%></p>
  <p><span class='bold'>Plot:</span> <%= movie.plot%></p>
</div>
  <a href="/movies/<%= movie._id%>/edit">
    <button>Edit</button>
  </a>
